#map {
  height: 600px;
  background-color: grey;
}

#locations {
  height: 600px;
  overflow-y: scroll;
}

#filter {
  width: 100%;
}

#region-list {
  padding: 0;
}

ul {
  list-style-type: none;
}

#restaurant-list {
  padding-left: 18px;
}
