<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <script>
    var locations = [
    {% for location in locations %}
      {name: "{{location.name|safe}}", location: {lat: {{location.lat}}, lng: {{location.lng}}}, regionName: "{{location.regionName|safe}}"},
    {% endfor %}
    ];
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h3>Chinese Food San Francisco Bay Area</h3>
      <div class="row">
        <div class="col-sm-8 col-sm-push-4" id="map"></div>
        <div class="col-sm-4 col-sm-pull-8" id="locations">
          <h4>By Region</h4>

           <input id="filter" type="text" placeholder="Filter by name or region" data-bind="textInput: filterText">

          <ul id="region-list" data-bind="foreach: regions">
            <h5 data-bind="text:nameCount"></h5>
            <ul id="restaurant-list" data-bind="foreach: restaurants">
              <li data-bind="text: name, click: $root.showMarker"></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmT2CPzialG6pSOb7USabvpagmNAXuXmU&callback=initMap" onerror="mapError()">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
  </body>
</html>
