<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <script>
    var locations = [
     {'name': 'Gou Bu Li', 'lat': 37.961543, 'lng': -122.325498, regionName: "Shandong"},
     {'name': 'Hometown Noodle', 'lat': 37.261173, 'lng': -121.932017, regionName: "Shandong"},
     {'name': 'T4 Livermore', 'lat': 37.680343, 'lng': -121.747897, regionName: "Taiwan"},
     {'name': 'Sichuan Table', 'lat': 37.775155, 'lng': -122.50606, regionName: "Taiwan"},
     {'name': 'Tashi delek', 'lat': 37.919973, 'lng': -122.314227, regionName: "Dongbei"}
    ];

    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h3>Chinese Food San Francisco Bay Area</h3>
      <div class="row">
        <div class="col-sm-4" id="locations">
          <h4>Locations</h4>
          <input id="filter" type="text" placeholder="Filter by name or cuisine" data-bind="textInput: filterText">
          <ul id="location-list" data-bind="foreach: locationList">
            <li data-bind="text: name"></li>
          </ul>
        </div>
        <div class="col-sm-8" id="map"></div>
      </div>
    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmT2CPzialG6pSOb7USabvpagmNAXuXmU&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
  </body>
</html>
